.modal-aqua-green{
    color:#2db482 !important;
    border-color: #2db482 !important;
}

.modal-aqua-green:hover{
    color: white !important;
    background-color: #2db482 !important;
}

.modal-aqua-green-filled{
    color: white !important;
    background-color: #2db482 !important;
}

.facebook-blue{
    color: white !important;
    background-color: #4c66a4 !important;
}

.displayOnCLick{
    display:none;
}

.my-modal{
    min-width: 300px;
    max-width: 350px;
    margin: 0 auto;
}

.modal { overflow-y: auto !important; }