
.ml-auto{
    margin-left: auto;
}


.modal-aqua-green{
  color:#2db482 !important;
  border-color: #2db482 !important;
}

.modal-aqua-green:hover{
  color: white !important;
  background-color: #2db482 !important;
}

.modal-aqua-green-filled{
  color: white !important;
  background-color: #2db482 !important;
}

@media screen and (min-width:768px) {
.hoverPropfornavlink:hover{
  border-bottom-style: solid ;
  border-block-end-color: rgb(126, 125, 125,0.8);
}

.nav-background .active{
  border-bottom: rgba(0,0,0,1) solid;
}
}

@media screen and (min-width:768px){
  .nav-background{
    padding-left: 5%;
    padding-right: 5%;
  }
}

.navbar-at-home{
  position:absolute !important;
  top:0 !important;
  right:0 !important;
  left:0 !important;
  width:100% !important;
  z-index:100 !important;
}

.nav-image-cropper {
  height: 40px;
  width:40px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border:gray solid;
  padding:0;
}
.nav-profile-pic {
display: inline;
margin: 0 auto;
height: 100%;
width: auto;
}

.dropdown .nav-link{
  padding:0 !important;
}

.dropdown-menu{
  left: auto !important;
  right: 0 !important;
}